body {
  overflow-x: hidden;
}


.program-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  overflow-y: auto;
}

.program-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 520px;
  height: 315px;
  padding: 1rem;
  box-shadow: var(--inner-shadow);
  text-align: center;
}

.program-card div{
  display: flex;
}

.program-card img {
  width: 80px;
  height: 80px;
}

.program-card p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.program-card button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem;
}

.program-card button:hover {
  background-color: darkblue;
}

#manage-categories {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 50px;
}

#manage-categories input, #manage-categories select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#manage-categories button {
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

#manage-categories button:hover {
  background-color: darkblue;
}
